<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,500" rel="stylesheet">
  <link rel="stylesheet" href="../../css/styles.css">

  <title>VanGorp</title>
</head>

<body>
  <div class="menu-overlay">
    <div class="close__button">
      <span class="hamburger__icon--close">&nbsp;</span>
    </div>

    <div class="menu-overlay__wrap">
      <div class="menu-overlay__inner">

        <nav class="menu-overlay__list">
          <ul class="menu-overlay__items">
            <li><a class="link" href="#">Home</a></li>
            <li><a class="link" href="#">Zuurdesembrood</a></li>
            <li><a class="link" href="#">Assortiment</a></li>
          </ul>
        </nav>

        <div class="hero__cta">
          <a href="#" class="btn btn--purple">Ons contacteren</a>
        </div>

        <div class="address address--vanilla">
          <p>
            <p>Sint-Jozeflaan 33<br>2400 Mol-Wezel<br>Tel. 014/811260</p>
          </p>
        </div>

      </div>
    </div>


  </div>

  <div class="frontpage">
    <header class="header">
      <div class="grid__container">
        <div class="grid__row">
          <div class="header__inner">


            <div class="site__logo"><img src="../../images/logo.png" alt=""></div>
            <h1 class="site__name">
              <span class="site__name-first">Patisserie </span>
              <span class="site__name-last">Van Gorp</span>
            </h1>


            <div class="menu-icon">
              <div class="hamburger">
                <div class="hamburger__button">
                  <span class="hamburger__icon--open">&nbsp;</span>
                </div>
              </div>
            </div>

            <div class="site__menu">
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Zuurdesembrood</a></li>
                <li><a href="#">Assortiment</a></li>
              </ul>
            </div>

          </div>
          <!-- end header__inner -->
        </div>
      </div>
    </header>

    <region class="hero">
      <div class="grid__container">
        <div class="grid__row">

          <div class="hero__inner">
            <a href="#" class="hero__aboutus">
              <!-- Block region about-us -->
              <p>Een stijlvol interieur in combinatie met de geur van versgebakken brood en andere
                ambachtelijke producten.Respect voor kwaliteit, rekening houdend met het goede van
                vroeger. Dat is waar wij al meer dan 20 jaar voor staan.
              </p>
              <p>Lees meer</p>
            </a>
            <div class="hero__cta">
              <a href="#" class="btn btn--purple">Ons contacteren</a>
            </div>
          </div>
        </div>
      </div>
    </region>

    <region class="panels-region">
      <div class="grid__container">
        <div class="grid__row">

          <div class="panel__adres">
            <h3>Ons adres</h3>
          </div>
          <div class="panel__images">
            <!-- Radom images -->
            Slider images
          </div>
          <div class="panel__opening-hours">
            <h3>Openingsuren</h3>
          </div>
        </div>
      </div>

    </region>

    <region class="main__front">
      <div class="grid__container">
        <div class="grid__row">
          <div class="main__front-content">
            <p>Als aanvulling bieden wij u een verstoog met groot assortiment charcuterie en kaas..</p>
            <p>Kris, zijn vrouw Wendy en hun dochter Maxime heten u van harte welkom op hun site en bedanken u voor uw
              interesse.</p>
          </div>
        </div>
      </div>

    </region>

    <region class="advertisement-msg">
      <div class="grid__container">
        <div class="grid__row">
          <p>Brood, taarten, patisserie, chocoladeartikelenen nog veel meer</p>
        </div>
      </div>

    </region>

    <footer class="footer__adres">
      <div class="grid__container">
        <div class="grid__row">
          <div class="address address--white">
            <p>Sint-Jozeflaan 33 - 2400 Mol-Wezel - Tel. 014/811260</p>
          </div>
        </div>
      </div>
    </footer>

    <footer class="footer__bottom">
      <div class="grid__container">
        <div class="grid__row">

          <p>2018 | Van Gorp | Privacy Policy</p>


        </div>
      </div>
    </footer>


  </div>


  <script src="../../js/menu.js"></script>
</body>

</html>