// /////////////////////////
// @@ VARIABLES
// ////////////////////////


// COLORS VARIABLES
$brown: #3c2313;
$light-brown: #a67c53;
$black: #000000;
$dark-vanilla: #cebfad;
$white: #fbf5f3;
$purple: #683257;


// TYPE VARIABLES
$clr-text: $light-brown;
$clr-link: $brown;

// BUTTONS
$btn-purple: $white $purple;
$btn-brown: $white $brown;
$btn-vanilla: $black $dark-vanilla;

// FONTS VARIABLES
$ff-ss: 'Roboto', sans-serif;
$ff-size: 1.6rem;
$fw-normal: 300;
$fw-bold: 500;