{#
/**
 * SCSS regions/_menu-overlay.scss
*/
#}

<div class="menu-overlay">

  <div class="close__button">
    <span class="hamburger__icon--close">&nbsp;</span>
  </div>
  <nav class="menu-overlay__list">

    <ul class="menu-overlay__items">
      {% include directory ~ '/templates/partials/shared/menu-items.html.twig' %}
    </ul>

  </nav>
</div>

