// /////////////////////////
// @@ ADVERTISEMENT-MSG 
// ////////////////////////

.advertisement-msg {

  background: $brown;
  color: $dark-vanilla;
  text-align: center;
  
  margin-bottom: 3rem;

  @include mq(desktop) {
    background: none;
  }

  &__inner {
    background: $brown;
    padding: 3rem 0;
    width: 100%;
  }

  &__info {
    max-width: 45vw;
    margin: 0 auto;
  }
}