// /////////////////////////
// @@ HEADER
// ////////////////////////

.header {
  // height: 11rem;
  background: $brown;
  border-bottom: 1rem solid $light-brown;

  &__inner {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    // grid-gap: 2rem;
    align-items: center;
    grid-template-areas: 
      "name logo menu-icon"
  }
}

.site {

  &__logo {
    grid: logo;
    width: 15rem;
  }

  &__name {
    grid-area: name;
  }

  &__menu {
    display: none;
  }
}

.menu-icon {
  grid-area: menu-icon;
}
