// /////////////////////////
// @@ HERO
// ////////////////////////

.hero {
  position: relative;
  background: $brown;
  background: url(../images/hero--small.jpg) no-repeat center;
  background-size: cover;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.6);
    z-index: 1;
  }

  @include mq(desktop) {
    min-height: 40rem;
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    align-items: center;
    grid-template-areas:
      "."
      "aboutus"
      "cta"
      ".";
  }

  &__aboutus {
    color: $black;
    padding: 0 2rem;
    text-align: center;
    grid-area: aboutus;
    z-index: 2;
    text-decoration: none;
  }

  &__cta {
    grid-area: cta;
    text-align: center;
    z-index: 3;
  }
}
