// /////////////////////////
// @@ ADDRESS 
// ////////////////////////

.address {
  font: {
    size: calc(#{$ff-size} - .2rem);
  }
  line-height: 2.3rem;

  &--vanilla {
    color: $dark-vanilla;

  }
  
  
  &--white {
    color: $white;
  }
}